:root {
  --background-color: #F3F4F6 !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #F0F0F0 !important; */
  background-color: #F3F4F6 !important;
  overflow-x: hidden !important;
}

p {
  margin: 0 !important;
}

.section-break {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-break {
  margin-top: 100px;
}

.section-break-line {
  width: 50%;
  height: 2.5px;
  background: linear-gradient(to right, transparent, black, transparent);
}

.body-container {
  /* box-sizing: initial; */
}

@media only screen and (max-aspect-ratio: 1) {
  .body-container {
    padding-top: 15%;
  }
}
