.links-container {
  height: 2.1rem;
  width: 65%;
}

@media only screen and (max-aspect-ratio: 1) {
  .links-container {
    height: 2.5rem;
  }
}

.icon-images:hover {
  transform: scale(1.2, 1.2);
  transition: 0.3s;
}

.icon-images {
  height: 100%;
  vertical-align: top !important;
  transition: 0.3s;
}

.icon-link {
  margin-left: 8px;
}
