#profile-section {
  margin-top: 5%;
  width: 40%;
}

.profile-picture {
  width: 200px;
  height: 200px;
}

.profile-container-right {
  width: 80%;
}

.profile-container-right > * {
  margin: 5px;
}

.profile-text-content {
  width: 100%;
}
