#projects-section {
  padding-left: 10%;
  padding-right: 10%;
}

.project-info-container {
  flex: 1;
}

.project-links-container {
  flex: 1;
}

.project-card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px !important;
}

.project-picture {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
