#projects-section {
  padding: 0 10%;
}

.project-info-container {
  flex: 1;
}

.project-links-container {
  flex: 1;
}

.project-card {
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
  border-radius: 5px !important;
  border: 0.1px solid rgba(0, 0, 0, 0.07) !important;
}

.project-picture {
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.35); */
}

.project-description {
  text-align: justify;
}

.project-image-no-pointer {
  pointer-events: none;
  user-select: none;
}

@media (max-width: 800px) {
  #projects-section {
    padding: 0 4%;
  }
}
