#projects-section {
  /* padding: 0 15%; */
  max-width: 1000px;
}

.projects-container {
  row-gap: 1rem;
}

.project-card .project-info-container {
  flex: 1;
  padding-bottom: 0 !important;
}

.project-links-container {
  flex: 1;
}

.project-card {
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
  border-radius: 5px !important;
  border: 0.1px solid rgba(0, 0, 0, 0.07) !important;
  width: 49% !important;
}

.project-picture {
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.35); */
}

.project-description {
  text-align: justify;
}

.project-image-no-pointer {
  pointer-events: none;
  user-select: none;
}

@media (max-width: 800px) {
  #projects-section {
    padding: 0 4%;
  }

  .project-card {
    padding: 1rem !important;
    width: 100% !important;
  }

  .project-card .project-demo-link {
    padding: 0 !important;
  }

  .project-description {
    font-size: 0.9rem;
  }
}
